*{
    font-family: Verdana;
}

body{
    margin: 0;
    padding: 0;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 50px auto;
    padding: 5px;
    border: 1px solid #ffb703;
    border-radius: 15px;
    box-shadow: 0 0 30px #e36414;
    background-color: #ffb703;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.form .btn-pagar{
    margin: 10px 0;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ffb703;
    border-radius: 4px;
}

.form .input-dato{
    margin-bottom: 10px;
    border: 1px solid #ffb703;
    border-radius: 4px;
    width: 90%;
    padding: 10px;
    font-size: 1.5rem;
    background-color:#d1a129;
    outline: none;
}

.btn-pagar:hover{
    background-color:#e36414;
}

.btn-limpiar:hover{
    background-color:#14e330;
}


.form .informacion{
    display: none;
    width: 100%;
    background: #d1a129;

}

.informacion h2{
    text-align: center;
    margin: 0;
}

.informacion h4{
    margin: 0 10px;
    text-align: right;
}